<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>Convert to Title Case!</title>
</head>
<body>
	<div class='container'>
		<h1>Palindrome Checker: </h1>
		<h2>Enter the word or phrase to check for palindromification:</h2>
		<form action='/view_translate'>
			<div class='form-group'>
				<label for='phrase'>Phrase:</label>
				<input id='phrase' name='phrase' class='form-control' type='text'>
			</div>
			<button type='submit' class='btn-success'>Check It</button>
		</form>
	</div>
</body>
</html>